ray[default]
torch
plotly
kaleido
tensorboard
matplotlib
transformers
accelerate
huggingface_hub
langchain
langchain-community
bitsandbytes  # 4-bit quantization
flash-attn  # Flash attention speed (GPU)
ollama  # Ollama Python client
prometheus_client
